
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
    line-height: 5rem;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .info{
    display: flex;
    flex-direction: column;
  }
  .title{
    /* color: rgb(5, 146, 28); */
    color: rgb(8, 142, 151);
    font-weight: bold;
    font-size: large;
  }
  .icon{
     color: rgb(3, 201, 215);
  }
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(219, 212, 212, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
  