.dashboard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.gauge-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.gauge-container.small {
  width: 120px;
  height: 120px;
}

.gauge {
  width: 100%;
  height: 100%;
}
